

.intro {
	background: linear-gradient(rgba(26,26,26,0.5),rgba(26,26,26,0.5)),url("/static/images/my-meetings.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    color: #FFFFFF;
    padding: 20vh 0;
    vertical-align: center;
}

.intro h1 {
	margin: auto;
	text-align: center;
}

#meetings-intro {
	text-align: center;
}

#meetings-intro p{
	margin: 10px auto;
	max-width: 500px;
}

.search-container {
	margin: 50px;
	padding: auto;
	justify-content: center;
	align-items: center;
}


.meetings-container {
	/*background-color: green;*/
	margin: 50px auto;
	max-width: 700px;
	/*margin-top: 100px*/
}


/*Meeting boxes*/

.meetings-box {
	margin: 30px 0;
	padding: 30px;

	max-width: 700px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	border: 3px solid #48CAE4;
	border-radius: 25px;
}

.meetings-details {
	width: 260px;
	font-size: 13px;
	margin: 0 20px;
}

.registered-box {
	width: 200px;
	/*float: right;*/
	/*margin: 10px 0;*/
	/*padding-left: 20px;*/
	text-align: center;
	font-size: 15px;
}

.registered-box h4 {
	font-size: 15px;
}

.registered-box img {
	width: 100px;
}

.meetings-box h2{
	margin: 10px 0;
	font-size: 16px;
}


.meetings-container strong {
	text-decoration: underline;
}




/*End Meeting boxes*/


/* Meeting info */

.subject-image {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

.subject-image img {
	width: 100px;
}


.meeting-info {
	margin: 50px auto;
	padding: 30px auto;
	width: 100%;

	text-align: center;
}
.meeting-info h4 {
	font-size: 17px;
}
.meeting-info a {
	color: #640ba3;
}
.meeting-info a:hover {
	color: #1319bf;
}

.tutee-participants {
	margin: 50px 0;
}
.meeting-info li {
	padding: 0;
}

.registered-box2 {
	margin: auto;
	margin-bottom: 50px;
	width: 200px;
}

.registered-box2 img {
	margin: 20px;
	width: 150px;
}


.return-buttons {
	margin: auto;
	padding: 50px;
	width: 500px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Search box */
.search-container {
	/* border: 3px solid #48CAE4; */
	background: linear-gradient(rgba(26,26,26,0.7),rgba(26,26,26,0.7)),url("../static/images/signup-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

	color: white;
	height: 100%;
	padding: 20px;
	width: auto;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.search-text {
	color: inherit;
	margin: auto;
	padding: 20px;
	width: 400px;
}

.search-box {
	margin: auto;
	border: 3px solid #48CAE4;
	padding: 20px;
}

#search-query {
	width: 100%;
	padding: 5px 0;
	margin: 15px 0;
}

#search-query label {
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: right;
	font-size: 15px;
	clear: both;
	float: left;
	margin-right: 5px;
}

#search-query input {
	font-size: 14px;
}

#search-query select {
	font-size: 14px;
	padding: 4px;
	height: 35px;
}

/* End of Search box */
