
.profile-content {
	margin: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.profile-icon-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile-icon-box h2{
	color: #1c07b8;
	padding: 0;
	margin: 0;
}

.profile-icon-box h3 {
	margin: 0;
	margin-bottom: 10px;
}

.profile-icon {
	padding: 20px;
	width: 200px;
	height: 200px;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 20px;
}

.profile-icon img {
	width: 150px;
}

.profile-info {
    margin: 30px;
    text-align: center;
}
