<!-- TUTORS View this page to create a new meeting -->

{%extends 'layout.html'%}

{%block body%}

<div class="organisemeeting-container">
    <div class="organisemeeting-box">
        <div class="om-imagecontainer">
            <img src="/static/images/calendar.svg" alt="">
        </div>

        <h1>Organise Meeting</h1>

        <form action = '/host' method = 'POST'>
            <div class="textbox">
                <input type = 'text' placeholder = 'Title' autocomplete="off" name = 'title'>
            </div>

            <div class="selectbox">
                <label for = "subject"> Subject: </label>
                <select placeholder = "Subject" name = "subject" id = "subject">
                    <option value = 'english'> English </option>
                    <option value = 'chinese'> Chinese </option>
                    <option value = 'math'> Math </option>
                    <option value = 'science'> Science </option>
                </select>
            </div>

            <div class="textbox">
                <input type = 'number' placeholder = 'Primary School Level' name = "level">
            </div>

            <div class="timebox">
                <label> Meeting Date </label>
                <input type = 'date' placeholder = 'Date' name = 'date'>
            </div>


            <div class = "timebox">
                <label for = "time"> Start Time </label>
                <input type = "time" placeholder = 'Start Time' name = 'start'>
            </div>

            <div class = "timebox">
                <label for = "time"> End Time </label>
                <input type = 'time' placeholder = 'End Time' name = 'end'>
            </div>


            <input class = "btn2" type = 'submit' value = 'Create Meeting!'>

        </form>

    </div>

</div>


{%endblock%}
