

<!-- NOTE:
Jinja variables:
profile
-->
{%extends 'layout.html'%}

{%block style%}
<link rel="stylesheet" type="text/css" href="/static/profile.css">
{%endblock%}

{%block body%}

<div class="container-fluid padding">
	<div class="row padding" id = "userprofile">
		<div class="col-lg">
			<h1 class="text-center">{{event['name']}}</h1>
			<p class="text-center">
				by <b style = "text-transform:uppercase"> {{event['organiser']}} </b> <br>
                Category: {{event['tag']}}
			</p>

			<p class="text-secondary font-weight-bold"> </p>

			<p class="text-secondary font-weight-bold">Participants</p>
			<div class="list-group">
				{% for name in event['participants'] %}
				<a href="/profile/{{name}}" class="list-group-item list-group-item-action action">
					{{name}}
				</a>
				{%endfor%}
			</div>
		</div>
	</div>
</div>

{%endblock%}

