{%extends 'layoutforms.html'%}

{%block body%}
    <div class="login-container">
        <div class="login-buttons">
            <div class="button-container">
                <img src="/static/images/tutee.png" width = 60px>
                <br>
                <a href='/tutee/login'><button class = "btn1" id = "fixed-btn1-size"> Login as TUTEE </button></a>
            </div>
            <div class="button-container">
                <img src="/static/images/tutor.svg" width = 60px>
                <br>
                <a href = '/tutor/login'> <button class = "btn1" id = "fixed-btn1-size"> Login as TUTOR </button></a>
            </div>
        </div>
    </div>


{%endblock%}
