<!-- NOTE:
Jinja variables:
profile
-->
{%extends 'layout.html'%}

{%block style%}
<link rel="stylesheet" type="text/css" href="/static/profile.css">
{%endblock%}

{%block body%}

<div class="container-fluid padding">
	<div class="row padding" id = "userprofile">
		<div class="col-lg">
			<h1 class="text-center">{{profile['name']}}</h1>
			<p class="text-center">
				Name: <b style = "text-transform:uppercase"> {{profile['name']}} </b> <br>
			</p>
			<p class="font-weight-bold">Education</p>
			<ul>
				{% for school in profile['schools'] %}
				<li> {{school}}</li>
				{%endfor%}
			</ul>
			
			<p class="text-secondary font-weight-bold">Interests</p>
			<ul>
				{% for tag in profile['tags']%}
				<li> {{tag}}</li>
				{%endfor%}
			</ul>

			<p class="text-secondary font-weight-bold">Events</p>
			<div class="list-group">
				{% for event in profile['events'] %}
				<a href="/event/{{event}}" class="list-group-item list-group-item-action active">
					{{event}}
				</a>
				{%endfor%}
			</div>
		</div>
	</div>
</div>

	<!-- <div class = "profile-meetings">
		TODO: Print list of meetings

	</div>

	<div class = "comments-page">

	</div>

	{%for key in usr_doc%}
	  	{{ key }}  {{ usr_doc[key] }}
	 	 <br>
	{% endfor %} -->

{%endblock%}
