<!-- NOTE:
Jinja variables:
registered (Bool)
meetingDoc
meetingID
tutorDoc
usrtype
-->

<!-- TUTEES View this page once they click on a meeting from the search results page. They can then register for the meeting. -->

{%extends 'layout.html'%}

{%block style%}
<link rel="stylesheet" type="text/css" href="/static/meetings.css">
{%endblock%}

{%block body%}

    <div class="meeting-info">
        <div class="registered-box2">
            {% if registered == False %}
                {% if session.get('type') == 'tutee'%}
                    <h3> Not Registered </h3>
                    <img src="/static/images/cross.svg" alt="">
                {%else%}
                    <h4>Meeting planned...</h4>
                    <img src="../static/images/clock.svg" alt="">
                {%endif%}
            {% else %}
                <h3> Registered </h3>
                <img src="/static/images/tick.svg" alt="">
            {% endif %}
        </div>


        <h3>Meeting Name: {{meetingDoc['title']}}</h3>

        <p>
        Tutor: <b> <a href = '/profile/tutor/{{tutorDoc['usrname']}}'> {{tutorDoc['usrname']}} </a></b> <br>
        Subject: <b style = "text-transform:uppercase"> {{meetingDoc['subject']}} </b> <br>
        Level: <b> P{{meetingDoc['level']}} </b> <br> <br>

        Meeting Date: {{meetingDoc['date']}} <br>
        Meeting Start: {{meetingDoc['start']}} <br>
        Meeting End: {{meetingDoc['end']}} <br>
        </p>

        <div class="tutee-participants">
            <h4> Student Participants: </h4>
            <ul class = "list-unstyled">
                {%for tutee in tuteeDoc%}
                <li> <a href = '/profile/tutee/{{tutee['usrname']}}'> {{tutee['usrname']}} </a> </li>
                {%endfor%}
            </ul>
        </div>


        {%if usrtype == 'tutee'%}
          {%if registered%}
              <em>Already Registered</em>
          {%else%}
            <form action = "/register/{{meetingID}}" method = 'POST'>
                <button class = 'btn1'> Register </button>
            </form>

          {%endif%}
        {%else%}
          <em>Login as tutee to register </em>
        {%endif%}
    </div>

{%endblock%}
