<!-- NOTE:
Jinja variables:
tags
profiles (List of profile dicts)
-->

{%extends 'layout.html'%}

{%block style%}
<link rel="stylesheet" type="text/css" href="../static/meetings.css">
{%endblock%}

{%block body%}
    <div class = "container-fluid" id = "search-box">
        <p>Search and filter for people with the search bar. <br><br> <b> CLICK ON </b> people that you are interested in to see what they have done! </p>

        <form action="/search_profiles" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Name </label>
                <input class="form-control" type="text" id ="name" placeholder = 'Enter name' name = "name">
                <small id="emailHelp" class="form-text text-muted">Search for a specific user.</small>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">School</label>
                <select class="form-control" id="school">
                    <option>Raffles Institution</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            {% for tag in tags %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="tag/{{tag}}" id="defaultCheck1">
                <label class="form-check-label" for="{{tag}}">
                  {{tag}}
                </label>
            </div>
            {% endfor %}

            <!-- <div class="textbox" id = "search-query">
                <label for="school"> School: </label>
                <input type="text" id = 'school' placeholder = '{{school}}' name = "school">
            </div>
            
            <div>
                {% for tag in tags %}
                    <input type="checkbox" name="tag/{{tag}}"> 
                    <label for="{{tag}}"> {{tag}} </label>
                {% endfor %}
            </div> -->

            <!-- <input type = 'submit' class = "btn btn-outline-light btn-lg" value = 'Search'> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class = "meetings-container">
        <p> Search Complete. There are <strong> {{profiles | length}}</strong>  results. </p>

        {% for profile in profiles %}
            <div class = "profiles-box">
                <div class="meetings-details">
                    <h2>Name: <a href = "/profile/{{profile['name']}}"> {{profile['name']}}  </a></h2>

                    <label> Education </label>
                    <ul>
                        {% for school in profile['schools'] %}
                        <li> {{school}}</li>
                        {%endfor%}
                    </ul>

                    <label> Interests </label>
                    <ul>
                        {% for tag in profile['tags']%}
                        <li> {{tag}}</li>
                        {%endfor%}
                    </ul>               
                </div>

            </div>
        {%endfor%}

    </div>


{%endblock%}
