<!-- NOTE:
Jinja variables:
tags
events (List of event dicts)
-->

{%extends 'layout.html'%}

{%block style%}
<link rel="stylesheet" type="text/css" href="../static/search.css">
{%endblock%}

{%block body%}

    <div class = "container-fluid" id = "search-box">
        <h1>EVENTS</h1>
        <p>Search and filter for events with the search bar. <br><b> click on </b> events that you are interested in to see what's in store! </p>

        <form autocomplete="off" action="/search_profiles" method="POST">
            <div class="autocomplete" style="width:300px;">
                <small id="emailHelp" class="form-text text-muted">Search for a specific event.</small>
                <input class="form-control" id="nameinput" type="text" placeholder = 'Enter name' name = "name">
            </div>

            <br>
            <div class="autocomplete" style="width:300px;">
                <small id="emailHelp" class="form-text text-muted">Search for a specific organiser.</small>
                <input class = "form-control" id="organiserinput" type="text" name="school" placeholder="Enter organiser">
            </div>
            
            <div id="tag-div">
            {% for tag in tags %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="tag/{{tag}}" id="defaultCheck1">
                <label class="form-check-label" for="{{tag}}">
                {{tag}}
                </label>
            </div>
            {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="container-fluid padding" id = "profiles-box">
        <p> Search Complete. There are <strong> {{events | length}}</strong>  results. </p>

        {% for event in events %}
            <div class="row justify-content-md-center padding" id = "profilebox">
                <div class="col-sm-3" id = "profilelink">
                    <h2> <a href = "/event/{{event['name']}}"> {{event['name']}} by {{event['organiser']}}  </a></h2>         
                </div>  
            </div>
        {%endfor%}
    </div>

{%endblock%}

{%block script%} 
<script src="../static/script.js"></script>
<script>
/*Pass in list of school names*/
autocomplete(document.getElementById("organiserinput"), {{organisers|safe}});
autocomplete(document.getElementById("nameinput"), {{all_events|safe}});
</script>
{%endblock%}