<!-- NOTE:
Jinja variables:
meetings (List of meeting docs)
subject,level,date,start,end (Previous search terms)
-->

{%extends 'layout.html'%}

{%block style%}
<link rel="stylesheet" type="text/css" href="../static/meetings.css">
{%endblock%}

{%block body%}

    <div class = "search-container">
        <div class="search-text">
            <p>Search and filter for tutor sessions with the search bar. <br><br> <b> CLICK ON </b> meetings that you are interested in to sign up now! </p>
        </div>

        <form class="search-box" action="/search" method="POST">
            <div class="selectbox" id = "search-query">
                <label for = "subject"> Subject: </label>
                <select name = "subject" id = "subject">
                    {%if subject != 'english'%} <option value = 'english'> English </option>
                    {%else%} <option value = 'english' selected = "selected"> English </option>
                    {%endif%}
                    {%if subject != 'chinese'%} <option value = 'chinese'> Chinese </option>
                    {%else%} <option value = 'chinese' selected = "selected"> Chinese </option>
                    {%endif%}
                    {%if subject != 'math'%} <option value = 'math'> Math </option>
                    {%else%} <option value = 'math' selected = "selected"> Math </option>
                    {%endif%}
                    {%if subject != 'science'%} <option value = 'science'> Science </option>
                    {%else%} <option value = 'science' selected = "selected"> Science </option>
                    {%endif%}
                </select>
            </div>

            <div class="textbox" id = "search-query">
                <label for="number"> Primary Level: </label>
                <input id = 'number' placeholder = '{{level}}' name = "level">
            </div>

            <div class="textbox" id = "search-query">
                <label for="number"> Date: </label>
                <input type = 'date' placeholder = '{{date}}' name = 'date'>
            </div>

            <div class="textbox" id = "search-query">
                <label for="number"> Start Time: </label>
                <input type = 'time' placeholder = '{{start}}' name = 'start'>
            </div>

            <div class="textbox" id = "search-query">
                <label for="number"> End Time: </label>
                <input type = 'time' placeholder = '{{end}}' name = 'end'>
            </div>

            <input type = 'submit' class = "btn btn-outline-light btn-lg" value = 'Search'>
        </form>
    </div>


    <div class = "meetings-container">
        <p> Search Complete. There are <strong> {{meetings | length}}</strong>  results. </p>

        {% for meeting in meetings %}
            <div class = "meetings-box">
                <div class="subject-image">

                    {%if meeting['subject'] == 'English'%}
                        <img src="/static/images/English.svg">
                    {%elif meeting['subject'] == 'Math' %}
                        <img src="/static/images/math.svg">
                    {%elif meeting['subject'] == 'Science' %}
                        <img src="/static/images/Science.svg">
                    {%elif meeting['subject'] == 'Chinese' %}
                        <img src="/static/images/Chinese.svg">
                    {%endif%}
                </div>
                <div class="meetings-details">
                    <h2>Meeting Name: <a href = "/register/{{meeting['_id']}}"> {{meeting['title']}}  </a></h2>
                    <p>Tutor: <b> {{meeting['tutorusrname']}} </b> <br>
                    Subject: <b> {{meeting['subject']}} </b> <br>
                    Level: <b> P{{meeting['level']}} </b><br>
                    Number Registered: {{meeting['tuteeID'] | length}}
                    </p>

                    <p> Meeting Date: {{meeting['date']}} <br>
                    Meeting Start: {{meeting['start']}} <br>
                    Meeting End: {{meeting['end']}}
                    </p>


                    {%if meeting['registered'] == False %}
                        <a href = "/register/{{meeting['_id']}}"> <button class="btn1" id = "fixed-btn1-size"> Join Now!</button> </a>
                    {%else%}
                        <a href = "/register/{{meeting['_id']}}"> <button class="btn1" id="fixed-btn1-size"> View Meeting </button> </a>
                    {%endif%}
                </div>
                <div class="registered-box">
                    {% if meeting['registered'] == False %}
                        <h3> Not Registered </h3>
                        <img src="../static/images/cross.svg" alt="">
                    {% else %}
                        <h3> Registered </h3>
                        <img src="../static/images/tick.svg" alt="">
                    {% endif %}
                </div>
            </div>
        {%endfor%}

    </div>


{%endblock%}
